* {
  margin: 0;
  padding: 0;
}

.alert {
  background-color: black;
  color: white;
  height: 50px;
}
.covid {
  text-align: center;
  padding-top: 10px;
}
.home {
  background-image: url(https://tp-0b0d4ae7c3-prod-frt-shared-provision-drupal-blog-web-3685e.s3.amazonaws.com/blog/s3fs-public/2019-02/architecture-chair-contemporary-1001965.jpg);
  height: 92.4vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-row {
  text-align: right;
}
.middle-row {
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  color: white;
}
.selectform {
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 25px;
}
.selction-holder {
  color: black;
}
